@model Guest.Models.LoginRegModel.Register

@{
    ViewData["Title"] = "Register";
}
@section Scripts {
    <script>
        $(document).ready(function () {
            loadRegister();
        });

        function loadRegister() {
            var formHtml = `
                    <h1>Register</h1>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Register">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <p>Login</p>
                                            <input id="login" asp-for="Login" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <p>Password</p>
                                            <input id="password" asp-for="Password" type="password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <p>Confirm Password</p>
                                            <input id="confirmPassword" asp-for="ConfirmPassword" type="password" class="form-control" />
                                </div>
                                <div class="form-group">
                                             <a href="javascript:void(0)" class="btn btn-primary" id="sub2">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <a href="javascript:void(0)"  id="btn-send">Go to Login</a>
                    <a  href="javascript:void(0)" id="Guest">Continue by Guest</a>
                `;

            $('.mess').html(formHtml);

            $("#sub2").on("click", function (event) {
                event.preventDefault();

                var formData = new FormData();
                formData.append('login', $("#login").val());
                formData.append('password', $("#password").val());
                formData.append('confirmPassword', $("#confirmPassword").val());

                $.ajax({
                    url: '@Url.Action("Register", "Register")',
                    type: 'POST',
                    processData: false, 
                    contentType: false, 
                    data: formData,
                    success: function (response) {
                        console.log(response);
                        window.location.href = '/Messages/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });


            $("#btn-send").on("click", function () {
                loadLogin();
            });
        }

        function loadLogin() {
            var formHtml = `
                            <h1>Login</h1>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <form asp-action="Login">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <p>Login</p>
                                            <input id="login" asp-for="Login" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <p>Password</p>
                                            <input id="password" asp-for="Password" type="password" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                                    <a href="javascript:void(0)" class="btn btn-primary" id="sub">Login</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <a href="javascript:void(0)"  id="btn-send1">Go to Register</a>
                            <a href="javascript:void(0)" id="Guest">Continue by Guest</a>
                        `;


            $('.mess').html(formHtml);

            $("#sub").on("click", function (event) {
                event.preventDefault();

                var formData = new FormData();
                formData.append('login', $("#login").val());
                formData.append('password', $("#password").val());

                $.ajax({
                    url: '@Url.Action("Login", "Login")',
                    type: 'POST',
                    processData: false,  // Не обрабатывать данные перед отправкой
                    contentType: false,  // Установить Content-Type: multipart/form-data
                    data: formData,
                    success: function (response) {
                        console.log(response);
                        window.location.href = '/Messages/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });





            $("#btn-send1").on("click", function () {
                loadRegister();
            });

            $("#Guest").on("click", function () {
                $.ajax({
                    url: '@Url.Action("ContinueByGuest", "Register")',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (response) {
                        console.log(response);
                        
                        window.location.href = '/Messages/Index'; 
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                       
                    }
                });
            });


        }
    </script>

}

<div class="mess"></div>

<div>
    
   
</div>

